
<style>
  
  /* This is the primary nave container color  */
  .navbar {
     display:flex;
    overflow: hidden;
    background-color: #33333350;
    border-radius: 3px;
      font-family: "Comfortaa", -apple-system, Ubuntu, "Ariel Black", Verdana;
  font-size: 1rem;
    transition: all 300ms ease-in-out;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10x 10px;
    text-decoration: none;
  }
  
  .dropdown {
    display:flex;
    overflow: hidden;
  }
  /* This is the tex that is in the main display navbar no hover but only a dropdown heading   */
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #44F281;
    padding: 11px 11px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  /* this is when the mous is over the Heading*/
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #446FF250;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3E38F225;
    text-shadow:
  1px 1px 2px black,
  0 0 1em brown,
  0 0 0.2em brown;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,20,20,1.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #44F28150;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>



<img src="https://mayor.lacity.gov/sites/g/files/wph2066/files/styles/default/public/2023-04/Tri_Color_Ribbon_6000x75_v2.png.webp" itemscope itemprop="workExample" itemtype="https://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}" />

<article class="navbar" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
        

 <a href="{{ site.url }}{{ site.baseurl }}">...</a>
      
    
        <div class="dropdown">
        <button class="dropbtn">Compiling 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {{ site.url }} 

          <a href="https://rashardiman.github.io/">Rashards_iMAN👦🏾</a>
          <a href="https://rashardsdata.github.io/">RashardsData👦🏾</a>
          <a href="https://rashardgds.github.io/" itemscope itemtype="https://schema.org/Person" itemprop="name">👦🏾RashardGDS[MRO/JUNO]</a>
          <a href="{{ site.url }}{{ site.baseurl }}/compiling">👦🏾💻./CompilingBlog=></a>        
           <a href="https://thakarashard.github.io/">Thaka👦🏾Rashard</a>
           <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned/la/frontpage/sub/blog/2025/10/21/currentlycompiling.html">RashardLearned📚</a>
            <a href="https://rashard-ecostress-jpl-iss.github.io/">👦🏾Rashards_iSS🚀</a>
      
          
 
        </div>
      </div> 
    
    
    
      <div class="dropdown">
        <button class="dropbtn">./HoleToAnotherUniverse=> 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
          <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
          <a href="https://rashardmro.tumblr.com/">rashardmro🌌</a>
          <a href="https://rashardsmaps.tumblr.com/">rashardsmaps🗺️</a>
          <a href="https://rashardlanasa.tumblr.com/">rashard_la_nasa👨‍🚀</a>  
          <a href="https://rashardlanasa.tumblr.com/">rashardGDS👨‍🚀</a>
          <a href="https://ricothakarashard.tumblr.com/">ricothakarashard🌌</a>
          <a href="https://metroarch.tumblr.com/">metroarch🧱</a>
           <a href="https://santamonicashaadi.tumblr.com/">SantnMoniKAshaadi🏖️</a>
          <a href="https://bubblegumpop01.tumblr.com/">BubbleGumPop01🍭</a>
           <a href="https://bubblegumfm01.tumblr.com/">BubbleGumFM🍭</a>
          <a href="{{ site.url }}{{ site.baseurl }}/linux">linux</a>
          <a href="{{ site.url }}{{ site.baseurl }}/mybinder">mYBinder</a>
           <a href="{{ site.url }}{{ site.baseurl }}/rashardmro">RashardMRO</a>
          <a href="{{ site.url }}{{ site.baseurl }}/thakarashard">ThakaRashard</a>
           <a href="{{ site.url }}{{ site.baseurl }}/twitters">TwitterS</a>
           <a href="{{ site.url }}{{ site.baseurl }}/cv">curriculum vitae</a>
          <a href="https://moonlov3r.wordpress.com/blog-feed/">moonlov3r - WP</a>
          
          

        </div>
      </div> 
      
</article>  
